.button {
  font-weight: var(--font-weights-bold);
  font-size: var(--font-sizes-base);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  padding-inline: var(--spacing-x2);
  display: inline-flex;
  color: var(--colors-action-text-on-base);
  fill: var(--colors-action-text-on-base);
  height: var(--sizes-x4);
  border-radius: var(--radii-full);

  &.normal {
    background-color: var(--colors-action-base);

    &:hover {
      background-color: var(--colors-action-base-hover);
    }
  }

  &.blue {
    background-color: var(--colors-action-primary-azure);

    &:hover {
      background-color: var(--colors-action-primary-azure-hover);
    }
  }

  &.red {
    background-color: var(--colors-text-on-layer-accent-lust);

    &:hover {
      background-color: var(--colors-service-color-nicodic);
    }
  }

  &:disabled {
    pointer-events: none;
    color: var(--colors-action-text-on-base_disabled);
    fill: var(--colors-action-text-on-base_disabled);
    border-color: var(--colors-action-text-on-base_disabled);
  }
}
