div:has(.container) {
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--watch-player-height) + 64px);
  z-index: 6;
  border-radius: var(--radii-m);
  overflow: hidden;
  background-color: var(--colors-layer-surface-high-em);
  color: var(--colors-text-on-layer-high-em);
  fill: var(--colors-text-on-layer-medium-em);

  .controls {
    display: flex;
    gap: 5px;
    min-height: var(--watch-collapsible-panel-header-height);
    height: var(--watch-collapsible-panel-header-height);
    align-items: center;
    text-align: left;
    padding: var(--spacing-base);
    border-bottom: 1px var(--colors-text-on-layer-lower-em) solid;

    span {
      margin-right: auto;
    }
  }

  .table {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
}
